/*@import "_base";
@import "_layout";
@import "_components"; */


// BASE.SCSS

:root {
    --color-primary-black: #252222;
    --color-primary: #9C7A06;
    --color-primary-light:#BF9505;
    --color-primary-dark: #846703;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
    --shadow-light-2: 0 2rem 5rem rgba(209, 203, 203, 0.829);


    --line: 1px solid var(--color-grey-light-2);

} 




*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px.
} 

body {
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: white;
    background-color: var(--color-primary-black);
    padding: 2.5rem;
    box-shadow: var(--shadow-light-2);
}


// LAYOUT.SCSS

.container {

    display: grid;
    
    grid-template-rows: 7rem minmax(min-content, 90vh) 
    min-content minmax(min-content, 95vh) 7rem;
    
    & > * { 
  
    font-size: 2rem;

    } 
}

.header {
    background-color: var(--color-primary-black);

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem;

        &-items {
            margin-right: 5rem;
            list-style: none;
            text-transform: lowercase;

            &:hover {
                text-decoration: underline;
                color: var(--color-primary-light);
            }
            
        }

        &-link {
            text-decoration: none;
            color: var(--color-grey-light-1);

            &-last {
                color: var(--color-primary-light);

                &:hover {
                    color: var(--color-grey-light-1);
                }
            }

            &:hover {
                text-decoration: underline;
                color: var(--color-primary-light);
            }

        }
    }
}



.overview {
    background-image: url(../img/rect.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &__logo {
        height: 3.5rem;

        &-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        }
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__heading {
        line-height: 2 ;

        &-main {
            display: block;
            font-size: 6rem;
            font-weight: 400;

        }

        &-sub {
            display: block;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 9rem;
        }
    }
}

.btn {
    padding: 1rem 2rem;
    font-size: 2.5rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: var(--shadow-dark);

    &:focus {
        outline: none;
    }

    &__header {
        background-color: var(--color-primary-light);
        color: var(--color-grey-light-1);

        &:hover {
            background-color: var(--color-primary-dark);
            box-shadow: var(--shadow-dark);

        }
    }
}





.form {
    background-color: rgb(97, 91, 91);

    display: grid;
    grid-template-columns: minmax(max-content, 20vw) max-content;
    grid-template-rows: repeat(4,1fr);
    width: max-content;
    margin: 1rem 0;
    border-radius: 2px;
    
    justify-self: center;

    justify-content: center;
    grid-gap: 5rem ;
    padding: 2rem 7rem;

    &__left {
        background-color: var(--color-grey-dark-2);
        border-radius: 5px;
        padding: 2rem;

        display: flex;


        &-one {
            grid-column: 1 / 2 ;
            grid-row: 1 / 2;

        }

        &-two {
            grid-column: 1 / 2 ;
            grid-row: 2 / 3;
        }

        &-three {
            grid-column: 1 / 2 ;
            grid-row: 3 / 4;
        }
    }

    &__svg-box {
        height: 4rem;
        width: 4rem;
        border-radius: 100rem;
        background-color: var(--color-grey-dark-3);
        position: relative;

        margin-right: 2rem;

    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__details {
        text-align: center;

        &-main {    
            font-weight: 700;

        }

        &-main1 {
            font-size: 3rem;
            font-weight: 400;
        }

        &-sub {
            color: var(--color-grey-light-3);
            font-weight: 400;

        }
    }

    &__right {
        grid-column: 2 / -1 ;
        grid-row: 1 / -1;
        background-color: var(--color-grey-dark-2);

        padding: 1rem 2rem;
        width: 50rem;
        border-radius: 5px;


        & > * { 
            margin-bottom: 2rem;
            } 

    }

    &__name {
        color: var(--color-grey-light-1);

        &-input {
            width: 40rem;
            padding: 1rem;
            font-weight: 300;
            border-radius: 5px;
            
            background-color: var(--color-grey-dark-3);

            &::-webkit-input-placeholder {
                color: #fff;
            }

        }
    }

}

.btn__white {

    &:hover {
        background-color: var(--color-grey-dark-1);
        color: var(--color-grey-light-1);
    }
    &:focus {
        outline: none;    
    }
}


.map {
    background-color: var(--color-grey-dark-1);
    color: var(--color-grey-light-1);
    position: relative;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__heading {

        &-main {
            display: block;
            font-size: 6rem;
            font-weight: 400;
        }

        &-sub {
            display: block;
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }
    }

    &__img {
        width: 100%;
        border-radius: 7px;

        &-box {
            width: 65vw;
        }
    }
}

.footer {
    background-color: var(--color-primary-light);
    color: var(--color-grey-light-1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__svg {

    }

    &__icon {
        height: 4rem;
        width: 4rem;
        fill: var(--color-primary-black);
        margin-right: 4rem;
    }

}

.copyright {

    &__box {
        margin-left: 2rem;
    }

    &__text {
        color: var(--color-primary-black);
        font-weight: 400;

        font-size: 2rem;
    }
}
